body {
  margin: 0: auto;
  padding: 5%;
  
}
a {
  text-decoration-line: none;
  color: black;
}
h1 {
  text-align: center;
  font-size: 100px;
}
.list{
  text-align: left;
  color:red;
  font-size: 18px;
  width: 300px; margin-left: auto; margin-right: auto;
}
.center{
  color:black;
}
p.first{
  margin-top: 1in;
}
footer{
  text-align: center;
}